{%  extends 'aplicacion/base.html' %}
{% load static %}

{% block titulo %}
 Customers
{% endblock titulo %}

{% block contenido %}
    <table>
        <tr>
            <td width="200"> <h2>Customers</h2></td>
            <td>
                <a
                    href="{% url 'create_customer' %}"
                    class="btn btn-primary btn-sm"
                    ><i class="fa fa-plus fa-lg" title="New Record"></i>
                </a>
            </td>
        </tr>

    </table>

    <table class="table">
    <thead>
        <TR>
            <th>ID</th>
            <th>Username</th>
            <th>Password</th>
            <th>Actions</th>
        </TR>
    </thead>
    <tbody>
    {% for customer in customer_list %}
    <tr>
        <td>{{ customer.id }}</td>
        <td>{{ customer.username }}</td>
        <td>{{ customer.password }}</td>

        <td>
            <a
              href="{% url 'update_customer' customer.id %}"
              class="btn btn-primary"
              style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
              ><i class="fa fa-edit fa-sm" title="Edit Record"></i>
            </a>
            <a
              href="{% url 'delete_customer' customer.id %}"
              class="btn btn-danger"
              style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
              ><i class="fa fa-trash fa-sm" title="Delete Record"></i>
            </a>
          </td>
    </tr>
    {% endfor %}
    </tbody>


    </table>
{% endblock contenido %}
