{%  extends 'aplicacion/base.html' %}
{% load static %}

{% block titulo %}
 pagina de formulario
{% endblock titulo %}

{% block contenido %}
     <h2> Agregar nuevo producto</h2>
    <form action="" method="post">
        {% csrf_token %}
          <p>Producto: <input type="text" name="product_name" id="product_name" ></p>
          <p>Precio: <input type="number" name="product_price" id="product_price" ></p>
            <input type="submit" value="Enviar">
    </form>
{% endblock contenido %}



